* {
  font-family: 'Nunito', sans-serif;
  color: #444;
}

/* HEADER */

header {
  border-bottom: 1px solid gray;
  margin: 2em 4em 0 4em;
  padding-bottom: 1em;
  max-width: 1200px;
}

header nav {
  display: inline-block;
}

#name-container {
  letter-spacing: 1px;
}

#name-container h4 {
  color: gray;
}

#name-container h4, h2 {
  margin: 0;
}

#nav-links {
  float: right;
  margin-top: 1em;
}

#nav-links a {
  color: gray;
  text-decoration: none;
  margin: 2em;
}

#nav-links a:hover {
  color: #444;
}

/* ABOUT */
/*.about-container {*/
  /*border: 1px solid black;*/
/*}*/

