body {
  font-family: Nunito, sans-serif;
  color: #444444;
}

.header-container {
  text-align: center;
}

.section-header {
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 5px;
  text-transform: uppercase;
  border-bottom: 1px solid lightseagreen;
  display: inline-block;
}

.content {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 120px;
}

.bg-grey {
  background-color: #F1F1F2;
}

/* INTRO SECTION */

.intro-section {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/pexels-photo.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  /*width: 100%;*/
}

.learn-more-container {
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-header {
  font-size: 3em;
  margin-bottom: 100px;
}

.learn-more-btn {
  float: none;
  border: 1px solid white;
  font-size: 1.5em;

  /*centering our button*/
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.learn-more-btn:hover {
  cursor: pointer;
  border: 1px solid lightseagreen;
  background-color: lightseagreen;
}

/* NAV BAR */
.nav-bar {
  padding: 15px 30px;
  background-color: #444444;
}

.nav-bar a {
  text-decoration: none;
  margin-right: 50px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-bar a:hover {
  border-bottom: 1px solid #00C3C8;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  /*added z-index because .svg images in portfolio section were overlaying our sticky*/
  z-index: 1000
}

/* ABOUT SECTION */
.about-paragraph, .skills {
  display: inline-block;
}

.about-paragraph {
  width: 45%;
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.1;
}

.skills {
  float: right;
  width: 45%;
}

.skills h3 {
  text-align: center;
  text-transform: uppercase;
}

.skills img {
  height: 90px;
  width: 90px;
}

.skill-icon-row {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.skills {
  margin-top: -20px;
}

/* PORTFOLIO SECTION */
.work-preview-row {
  text-align: center;
}

.work-preview {
  height: 200px;
  width: 350px;
  display: inline-block;
}

.work-preview:hover {
  cursor: pointer;
}

.work-preview:hover > .overlay {
  width:100%;
  height:100%;
  background-color:#000;
  opacity:0.1;
}

.mockup-image {
  position: relative;
  float: left;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cisco-img {
  width: 50%;
  height: 50%;
}

#health-accountable-image {
  width: 100%;
  height: 50%;
}

.work-cisco-bg {
  background-color: white;
}

.work-health-accountable-bg {
  background-color: #FF605E
}

.contact-text {
  text-align: center;
}

.work-container {
  font-size: 0;
}

/* CONTACT SECTION */

.contact-icons {
  text-align: center;
}

.contact-icons img {
  display: inline-block;
  margin: 20px;

}