/**** ELEMENTS ****/

body {
  font-family: 'Raleway', sans-serif;
  color: #444;
}



/***** HEADER CONTAINER ******/

header {
  background: #444;
  padding: 1em;
}

nav a {
  color: white;
  text-decoration: none;
}


/*** NAME CONTAINER ***/

.name-container {
  margin-top: 9em;
  text-align: center;
}

.name-container hr {
  width: 600px
}

.name {
  font-size: 3em;
}

.job-title {
  font-size: 1.5em;
}



/*** CONTACT CONTAINER ***/

.links {
  /*width: 30em;*/
  margin-top: 2em;
  /*margin-left: auto;
  margin-right: auto;*/
  text-align: center;
}


.links a {
  color: #444;
  display: inline-block;
  font-size: 2.5em;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 3em;

  transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
}

.links a:hover {
  color: #0084B4;
}


/****** WORK CONTAINER ******/

.work-container {
  background: #0084B4;
  color: white;
}


/*** RESPONSIVE DESIGN ***/

@media (max-width: 620px) {
  .name-container hr {
    display: none;
  }
}
